.header {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #e8e8e8;
}

.header img {
    height: 90%;
    display: flex;
    justify-content: flex-start;
    padding-left: 110px;
    padding-bottom: 15px;
    flex-wrap: wrap;
}

.header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 12px 12px;
    padding-right: 110px;
    flex-wrap: wrap;
}

.header ul li {
    padding-right: 15px;
    color: #940637;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
}
